::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #7ff1ff;
}
#about span.lighter a,
#about span.lighter a:link,
#about span.lighter a:visited,
#about span.lighter a:hover,
#about span.lighter a:active {
  color: black;
}
span.read_title {
  display: inline-block;
  margin-top: 5vh;
  line-height: calc(38px + 0.4vw);
  font-size: calc(20px + 0.4vw);
}
span.read {
  line-height: calc(48px + 0.4vw);
  font-size: calc(30px + 0.4vw);
}
span.read a,
span.read a:link,
span.read a:visited,
span.read a:active,
span.read a:hover {
  color: black;
  display: block;
  text-align: right;
}
span.read a:hover {
  text-decoration: none;
}
.welcome span,
.goodbye span {
  line-height: calc(46px + 0.4vw);
  font-size: calc(30px + 0.4vw);
  font-weight: 100;
}
#thankyou.hidden {
  line-height: 0;
  font-size: 0;
}
span.ultralighter,
span.courtesy {
  font-family: "Roboto Mono", monospace;
  vertical-align: middle;
  line-height: calc(20px + 0.4vw);
  font-size: calc(10px + 0.4vw);
  font-weight: 400;
}
canvas {
  display: block;
  position: absolute;
  top: 25%;
}
body.out > main > .rnInner {
  -webkit-transform-origin: -120% top;
  -webkit-transform: scaleX(0);
  transform-origin: -120% top;
  transform: scaleX(0);
  -webkit-transition: transform 14s ease-out;
  transition: transform 14s ease-out;
}
#myWave {
  height: 25%;
  filter: blur(6px);
  z-index: 51 !important;
}
#myWave.show {
  opacity: 0;
  animation: steam 10000ms linear infinite;
}
@keyframes steam {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1.25);
    opacity: 0.8;
    left: 100%;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
    transform: translateX(-25%) translateZ(0) scaleY(0.75);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 0%;
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.start-from-end {
  display: unset !important;
  visibility: hidden;
  opacity: 0;
  -webkit-animation: show_anything 2s 2s normal forwards ease-in !important;
  animation: show_anything 2s 2s normal forwards ease-in !important;
}
.end {
  -webkit-animation: hide_anything 2s 2s normal forwards ease-out !important;
  animation: hide_anything 2s 2s normal forwards ease-out !important;
}
.fast-end {
  -webkit-animation: hide_anything 1s 1s normal forwards ease-out;
  animation: hide_anything 1s 1s normal forwards ease-out;
}
@-webkit-keyframes hide_anything {
  0% {
    visibility: visible;
    opacity: 1;
  }
  10% {
    visibility: visible;
    opacity: 0.95;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hide_anything {
  0% {
    visibility: visible;
    opacity: 1;
  }
  10% {
    visibility: visible;
    opacity: 0.95;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
main.background-move-2 {
  z-index: 11;
  opacity: 0.7;
  animation: dec_op_085_070 2s linear;
}
main.background-move-2::after {
  content: "";
  background: rgb(1, 35, 205, 0.45);
  background: -moz-linear-gradient(
    115deg,
    rgba(1, 35, 205, 0.45) 0%,
    rgba(102, 16, 242, 0.45) 21%,
    rgba(123, 4, 198, 0.45) 63%,
    rgba(67, 0, 167, 0.45) 95%
  );
  background: -webkit-linear-gradient(
    115deg,
    rgba(1, 35, 205, 0.45) 0%,
    rgba(102, 16, 242, 0.45) 21%,
    rgba(123, 4, 198, 0.45) 63%,
    rgba(67, 0, 167, 0.45) 95%
  );
  background: linear-gradient(
    115deg,
    rgba(1, 35, 205, 0.45) 0%,
    rgba(102, 16, 242, 0.45) 21%,
    rgba(123, 4, 198, 0.45) 63%,
    rgba(67, 0, 167, 0.45) 95%
  );
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 20;
  animation: inc_op_0_1 2s linear;
}
main.background-move-3 {
  z-index: 21;
  opacity: 0.5;
  animation: dec_op_070_050 2s linear;
}
main.background-move-3::after {
  content: "";
  background: rgb(1, 35, 205, 0.25);
  background: -moz-linear-gradient(
    115deg,
    rgba(1, 35, 205, 0.25) 0%,
    rgba(102, 16, 242, 0.25) 21%,
    rgba(123, 4, 198, 0.25) 63%,
    rgba(67, 0, 167, 0.25) 95%
  );
  background: -webkit-linear-gradient(
    115deg,
    rgba(1, 35, 205, 0.25) 0%,
    rgba(102, 16, 242, 0.25) 21%,
    rgba(123, 4, 198, 0.25) 63%,
    rgba(67, 0, 167, 0.25) 95%
  );
  background: linear-gradient(
    115deg,
    rgba(1, 35, 205, 0.25) 0%,
    rgba(102, 16, 242, 0.25) 21%,
    rgba(123, 4, 198, 0.25) 63%,
    rgba(67, 0, 167, 0.25) 95%
  );
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 30;
  animation: inc_op_0_1 2s linear;
}
main.background-move-4 {
  z-index: 31;
  opacity: 1;
  animation: inc_op_070_1 2s linear;
}
main.background-move-4::after {
  content: "";
  background: rgb(1, 35, 205, 1);
  background: -moz-linear-gradient(
    115deg,
    rgba(1, 35, 205, 1) 0%,
    rgba(102, 16, 242, 1) 21%,
    rgba(123, 4, 198, 1) 63%,
    rgba(67, 0, 167, 1) 95%
  );
  background: -webkit-linear-gradient(
    115deg,
    rgba(1, 35, 205, 1) 0%,
    rgba(102, 16, 242, 1) 21%,
    rgba(123, 4, 198, 1) 63%,
    rgba(67, 0, 167, 1) 95%
  );
  background: linear-gradient(
    115deg,
    rgba(1, 35, 205, 1) 0%,
    rgba(102, 16, 242, 1) 21%,
    rgba(123, 4, 198, 1) 63%,
    rgba(67, 0, 167, 1) 95%
  );
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 40;
  animation: inc_op_0_1 2s linear;
}
main.background-move-5 {
  z-index: 41;
  opacity: 1;
  animation: inc_op_050_1 4s linear;
}
main.background-move-5::after {
  content: "";
  background: rgb(1, 35, 205, 1);
  background: -moz-linear-gradient(
    115deg,
    rgba(1, 35, 205, 1) 0%,
    rgba(102, 16, 242, 1) 21%,
    rgba(123, 4, 198, 1) 63%,
    rgba(67, 0, 167, 1) 95%
  );
  background: -webkit-linear-gradient(
    115deg,
    rgba(1, 35, 205, 1) 0%,
    rgba(102, 16, 242, 1) 21%,
    rgba(123, 4, 198, 1) 63%,
    rgba(67, 0, 167, 1) 95%
  );
  background: linear-gradient(
    115deg,
    rgba(1, 35, 205, 1) 0%,
    rgba(102, 16, 242, 1) 21%,
    rgba(123, 4, 198, 1) 63%,
    rgba(67, 0, 167, 1) 95%
  );
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 40;
  animation: inc_op_0_1 4s linear;
}
@keyframes dec_op_085_070 {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes dec_op_070_050 {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes inc_op_050_1 {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes inc_op_070_1 {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.intro-feedback-move {
  -webkit-transform: translate3d(-75vw, -75vh, 0px);
  transform: translate3d(-75vw, -75vh, 0px);
  -webkit-animation: feedback_intro_move 2s;
  animation: feedback_intro_move 2s;
}
@keyframes feedback_intro_move {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  15% {
    opacity: 1;
    -webkit-transform: translate3d(-5vw, 1vh, 0px);
    transform: translate3d(-5vw, 1%, 0px);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translate3d(-10vw, -25vh, 0px);
    transform: translate3d(-10vw, -25%, 0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50vw, -50vh, 0px);
    transform: translate3d(-50vw, -50%, 0px);
    visibility: hidden;
  }
}
#participation {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  bottom: -85vh;
  right: -60vw;
  z-index: 101;
}

#participation-message {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 90vw;
}
#participation-message .audio {
  width: 100%;
  text-align: left;
}
#participation-feedback {
  height: 50%;
  display: flex;
  opacity: 0;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.participation-feedback-move-in {
  -webkit-transform: translate3d(-60vw, -85vh, 0px);
  transform: translate3d(-60vw, -85vh, 0px);
  -webkit-animation: feedback_participation_move_in 2s;
  animation: feedback_participation_move_in 2s;
}
@keyframes feedback_participation_move_in {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  15% {
    opacity: 0.05;
    -webkit-transform: translate3d(0vw, 0%, 0px);
    transform: translate3d(0vw, 0%, 0px);
  }
  50% {
    opacity: 0.05;
    -webkit-transform: translate3d(-15vw, -15vh, 0px);
    transform: translate3d(-15vw, -15%, 0px);
  }
  100% {
    opacity: 0.75;
    -webkit-transform: translate3d(-60vw, -85vh, 0px);
    transform: translate3d(-60vw, -85vh, 0px);
    visibility: hidden;
  }
}
.participation-feedback-move-out {
  -webkit-transform: translate3d(-150vw, -180vh, 0px);
  transform: translate3d(-150vw, -180vh, 0px);
  -webkit-animation: feedback_participation_move_out 2s;
  animation: feedback_participation_move_out 2s;
}
@keyframes feedback_participation_move_out {
  0% {
    -webkit-transform: translate3d(-60vw, -85vh, 0px);
    transform: translate3d(-60vw, -85vh, 0px);
  }
  15% {
    opacity: 1;
    -webkit-transform: translate3d(-65vw, -80vh, 0px);
    transform: translate3d(-65vw, -80vh, 0px);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translate3d(-125vw, -145vh, 0px);
    transform: translate3d(-125vw, -145vh, 0px);
  }
  100% {
    opacity: 0 !important;
    -webkit-transform: translate3d(-150vw, -180vh, 0px);
    transform: translate3d(-150vw, -180vh, 0px);
    visibility: hidden !important;
  }
}

#recording {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  top: -60%;
  right: -45vw;
  z-index: 101;
}
#recording-message {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 90vw;
}
#recording-feedback {
  height: 50%;
  display: flex;
  opacity: 0;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
#recording-feedback.start {
  visibility: visible;
  opacity: 0;
  animation: show_anything 2s 2s normal forwards ease-out;
}
.recording-feedback-move-in {
  -webkit-transform: translate3d(-45vw, 60vh, 0px);
  transform: translate3d(-45vw, 60vh, 0px);
  -webkit-animation: recording_feedback_move_in 2s;
  animation: recording_feedback_move_in 2s;
}
@keyframes recording_feedback_move_in {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  15% {
    opacity: 0.05;
    -webkit-transform: translate3d(0vw, 0%, 0px);
    transform: translate3d(0vw, 0%, 0px);
  }
  50% {
    opacity: 0.05;
    -webkit-transform: translate3d(-15vw, 15vh, 0px);
    transform: translate3d(-15vw, 15%, 0px);
  }
  100% {
    opacity: 0.75;
    -webkit-transform: translate3d(-45vw, 60vh, 0px);
    transform: translate3d(-45vw, 60%, 0px);
    visibility: hidden;
  }
}
.recording-feedback-move-out {
  -webkit-transform: translate3d(-45vw, 60vh, 0px);
  transform: translate3d(-45vw, 60vh, 0px);
  opacity: 0;
  visibility: hidden;
  -webkit-animation: recording_feedback_move_out 2s !important;
  animation: recording_feedback_move_out 2s !important;
}
@keyframes recording_feedback_move_out {
  0% {
    -webkit-transform: translate3d(-45vw, 60vh, 0px);
    transform: translate3d(-45vw, 60vh, 0px);
    opacity: 1;
  }
  15% {
    -webkit-transform: translate3d(-45vw, 60vh, 0px);
    transform: translate3d(-45vw, 60vh, 0px);
    opacity: 0.95;
  }
  50% {
    -webkit-transform: translate3d(-45vw, 60vh, 0px);
    transform: translate3d(-45vw, 60vh, 0px);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: translate3d(-45vw, 60vh, 0px);
    transform: translate3d(-45vw, 60vh, 0px);
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-height: 800px) {
  span.ultralighter,
  span.courtesy {
    line-height: calc(16px + 0.4vw);
    font-size: calc(9px + 0.4vw);
  }
  .welcome span,
  .goodbye span {
    line-height: calc(36px + 0.4vw);
    font-size: calc(22px + 0.4vw);
  }
  #thankyou.hidden {
    line-height: 0;
    font-size: 0;
  }
  span.read_title {
    display: inline-block;
    margin-top: 5vh;
    line-height: calc(26px + 0.4vw);
    font-size: calc(14px + 0.4vw);
  }
  span.read {
    line-height: calc(24px + 0.4vw);
    font-size: calc(20px + 0.4vw);
  }
}

@media (max-height: 600px) and (max-width: 900px) {
  span.ultralighter,
  span.courtesy {
    line-height: calc(14px + 0.4vw);
    font-size: calc(8px + 0.4vw);
  }
  .welcome span,
  .goodbye span {
    line-height: calc(20px + 0.4vw);
    font-size: calc(14px + 0.4vw);
  }
  span.read_title {
    display: inline-block;
    margin-top: 5vh;
    line-height: calc(14px + 0.4vw);
    font-size: calc(10px + 0.4vw);
  }
  span.read {
    line-height: calc(14px + 0.4vw);
    font-size: calc(14px + 0.4vw);
  }
  #thankyou.hidden {
    line-height: 0;
    font-size: 0;
  }
  .audio-controls {
    height: 12vh;
  }
}
.blinker {
  -webkit-animation: blinker 4s linear infinite;
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes blinker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/* ISLAND SECTION */
.about_oa img,
.about_os img,
.about_ac img,
.about_si img {
  width: 10vw;
  margin: 1vh 0vw !important;
  display: block;
}
.about_oa img,
.about_si img,
#logo.invert > img {
  filter: invert(100%);
}
.tooa {
  position: absolute;
  right: 105px;
  top: 25.5px;
  width: 40px;
  height: 40px;
  padding-top: 3.5px;
  margin-right: -30px;
  z-index: 800;
}
.tooa img {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
#logo {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 50;
}
#logo > img {
  width: 15%;
  bottom: 3vh;
  right: 2vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}
#about {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000 !important;
}
#about > img {
  position: absolute;
  width: 4vw;
  right: 2vw;
  top: 3vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 1001;
}
#about > img:hover {
  filter: invert(100%);
  cursor: pointer;
}
#about > .invert {
  filter: invert(100%);
}
#about-section {
  overflow-y: auto;
  top: 0%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  width: 100vw;
  height: 100%;
  left: 0vw;
  right: 0vw;
  bottom: 0%;
  backdrop-filter: blur(500px) opacity(0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  justify-content: space-evenly;
  display: flex;
  flex-direction: unset;
  align-items: baseline;
  flex-wrap: wrap;
}
#about-section > div:nth-child(1) {
  padding: 5vh 0vw 0vh 0vw;
  flex-direction: row;
  flex: 0 0 94%;

  justify-content: flex-start;
}
#about-section > div:nth-child(2) {
  width: 30vw;
  padding: 5vh 0vw;
}
#about-section > div:nth-child(3) {
  align-self: baseline;
  width: 60vw;
  padding: 5vh 10vw 5vh 5vw;
  text-align: justify;
}
#about-section > div {
  width: 80vw;
  left: 10vw;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: baseline;
  text-align: justify;
}
#about-section > div > div {
  display: flex;
  width: 100%;
  margin: 1vh 0vw;
  align-items: center;
}
#about-section > div:nth-child(3) > div {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}
#about-section > div:nth-child(3) > div > img {
  width: 27vw;
  align-self: flex-end;
}
span.courtesy {
  align-self: flex-end;
}

#about-section > div > div > div:nth-child(1) {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
}

#about-section > div > div > div:nth-child(1) > svg {
  height: 60px;
  fill: black;
}
.svg_audio {
  fill: #f75a8d !important;
}
.svg_action {
  fill: #94cbfe !important;
}
.svg_text {
  fill: #ffed00 !important;
}
.svg_video {
  fill: #00d0b1 !important;
}
.svg_image {
  fill: #ff6c29 !important;
}

#about-section > div > div > div:nth-child(2) {
  height: 100%;
  display: flex;
  align-items: center;
}
#nodes {
  position: fixed;
  z-index: 65 !important;
  cursor: default !important;
}

#notes {
  position: relative;
  z-index: 41;
  height: 100%;
  text-align: left;
}
.welcome {
  position: absolute;
  left: 1.5vw;
}
.goodbye {
  position: absolute;
  left: 1.5vw;
  width: 35vw;
  top: 3%;
}
.welcome span,
.goodbye span {
  opacity: 0;
  visibility: hidden;
}
.welcome:nth-child(1) {
  width: 35vw;
  top: 3%;
}
.welcome:nth-child(2) {
  width: 40vw;
  bottom: 3%;
}
#island {
  z-index: 65 !important;
  position: absolute;
  cursor: default !important;
}
div.island > *,
div.island-rev > * {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
  object-position: 50% 50%;
  z-index: 105;
}
div.island > * {
  z-index: 105;
}
div.island svg.nodes > * {
  fill: black;
}
div.island svg > * {
  z-index: 100000 !important;
  stroke: transparent;
  stroke-width: 15;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 40px;
  height: 40px;
}
div.island svg:not(#island) > *:hover {
  cursor: pointer;
}
div.island-rev {
  z-index: 115;
}
div.island-rev svg {
  z-index: 117;
  height: 100%;
  width: 100%;
}
div.node {
  width: 50vw;
  height: 50%;
  position: absolute;
  z-index: 125;
}
div.S4 {
  overflow: hidden;
  left: 3%;
  width: 63vw;
  bottom: 10%;
}
div.S3,
div.S6,
div.S13,
div.S14,
div.S10,
div.S17 {
  width: 60vw !important;
}
div.S10 {
  bottom: 10%;
  left: 5%;
}

div.S3,
div.S6,
div.S14,
div.S13 {
  bottom: 10%;
  right: 5%;
}
div.S1,
div.S9,
div.S17 {
  bottom: 10%;
  right: 12%;
}
div.S7,
div.S8 {
  width: 93.5vw;
  height: 5%;
  bottom: 10vh;
  left: 3%;
}
div.S5,
div.S15 {
  width: 100vw;
  height: 100%;
  top: 0%;
  right: 0%;
  background-color: #0c1f40;
}
div.S15 {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.S15 video,
div.S5 video {
  width: 100% !important;
  height: 100% !important;
}
div.S15 video {
  object-fit: contain;
}
div.S2,
div.S11 {
  bottom: 10%;
  left: 10%;
}
div.S2,
div.S11,
div.S1,
div.S9 {
  height: auto;
  max-height: 70%;
  top: 15vh;
}
div.S18 {
  width: 85vw !important;
}
div.S22 {
  width: 75vw !important;
}
div.S21 {
  height: unset !important;
  right: 3vw;
  top: 2vw;
  width: 45vw !important;
}
div.S18,
div.S19,
div.S20 {
  height: unset !important;
  left: 3vw;
  top: 2vw;
}
div.S22 {
  height: unset !important;
  left: 10vw;
  top: 8vw;
}
div.S19 {
  width: 60vw !important;
}
div.S18 .image img,
div.S19 .image img,
div.S20 .image img,
div.S21 .image img,
div.S22 .image img {
  width: calc(100% - 60px);
}
div.S18 .image div:nth-child(1),
div.S19 .image div:nth-child(1),
div.S20 .image div:nth-child(1),
div.S21 .image div:nth-child(1),
div.S22 .image div:nth-child(1) {
  height: 100%;
  width: 100%;
  margin: unset;
  display: flex;
  padding: 0px 10px;
  overflow-y: hidden;
  align-items: center;
}
div.S18 div.close,
div.S19 div.close,
div.S20 div.close,
div.S21 div.close,
div.S22 div.close {
  margin-top: -15px !important;
  margin-right: -30px !important;
}
div.S16 {
  width: 100vw !important;
  height: 100vw !important;
  z-index: 104 !important;
}
div.S16 .image-action {
  display: flex;
}
div.S16 .image-action img {
  -webkit-transition: all 3s;
  transition: all 3s;
  opacity: 1;
  width: 100%;
  top: -5%;
  position: absolute;
}
div.S16 .image-action img.notyet {
  -webkit-transition: all 3s;
  transition: all 3s;
  opacity: 0;
}
div.S16 div.close {
  margin-top: -15px !important;
  margin-right: -15px !important;
}
div.S12 {
  width: 100vw !important;
  height: 100vw !important;
  z-index: 65 !important;
}
div.S12 .image-action img {
  -webkit-transition: all 6s;
  transition: all 6s;
  object-fit: scale-down;
  width: 100vw;
  height: 100%;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}
div.S12 div.close {
  margin-top: -15px !important;
  margin-right: -15px !important;
  background-color: black;
}
div.S15 div.close,
div.S5 div.close {
  margin-right: -20px !important;
}
div.S5 div.video-rev,
div.S15 div.video-rev {
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  max-height: 100%;
  z-index: 12;
  background-color: black;
}
div.S15 div.island-rev svg g {
  fill: #000000;
  stroke: none;
}
div.node div.image {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ff6c29;
  flex-direction: column;
}
div.node div.text {
  width: 100%;
  height: 100%;
  background-color: #ffed00;
  color: black;
}
div.node div.video {
  width: 100%;
  background-color: #00d0b1;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  z-index: -1;
  justify-content: flex-start;
}
div.S17 .video {
  background-color: #ff6c29 !important;
}
div.node div.audio {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: left;
}
div.audio svg {
  fill: #6f00ff;
  height: 1.5em;
  width: 1.5em;
}
.audio-controls {
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
}
.audio-wave {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f75a8d;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50px -4px;
}
.audio-state {
  padding: 0 1vw;
  display: flex;
  align-self: center;
  cursor: pointer;
}
.title-time {
  display: flex;
  align-items: center;
}
.audio-controls .audio-state .hide {
  display: none;
  pointer-events: none;
}
div.node div.text > div:not(.close) {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: transparent;
  font-weight: 200;
  text-align: justify;
  line-height: calc(24px + 0.4vw) !important;
  padding: 50px 60px 30px 20px;
  overflow-y: scroll;
}
div.node div.image > div:not(.close),
div.node div.video > div:not(.close) {
  width: calc(100% - 70px);
  margin: 10px;
  background-color: transparent;
  font-weight: 200;
  text-align: justify;
  line-height: calc(24px + 0.4vw) !important;
}
div.node div.image > div:not(.close),
div.node div.video > div:not(.close) {
  display: flex;
  align-items: center;
}
div.node div.close {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-right: -30px;
  z-index: 800;
}
div.S7 div.close,
div.S8 div.close {
  display: flex;
  margin-top: 0px !important;
  margin-right: 0px !important;
  align-items: center;
  right: 1vw;
  top: 0;
  height: 100%;
}
div.node div.close::before,
div.node div.close::after {
  position: absolute;
  content: " ";
  left: 19px;
  height: 41px;
  width: 4.3px;
  background-color: #fff;
  z-index: 801;
  border-radius: 4px;
}
div.close:hover {
  cursor: pointer;
}
div.node div.close:hover:before,
div.node div.close:hover:after {
  position: absolute;
  content: " ";
  height: 40px;
  width: 3px;
}
div.node div.close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
div.node div.close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.expired {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 2s;
  transition: all 2s;
}
.expired > * {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

iframe,
video {
  width: calc(100% - 60px);
  height: calc(100% - 33.7498897866px);
  display: flex;
  align-items: baseline;
  align-content: baseline;
  object-position: left;
  object-fit: cover;
}
.S15 video {
  object-position: top !important;
}
